<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block title %} Securedoc DMS | Reset Password Done{% endblock title %}  
</head>

{% block content %}
    <div id="profileParentDiv">
        <div class="ui segment">
        <h3 class="ui header">Reset your password</h3>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock scripts %}