<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block title %} Securedoc DMS | Reset your password{% endblock title %}  
</head>

{% block content %}
    <div id="profileParentDiv">
        <div class="page-login">
            <div class="ui centered grid container">
                <div class="nine wide column">

                    <div class="ui fluid card">
                        <div class="content">
                            <h3 class="ui header">Securedoc DMS<div class="sub header">Reset your password</div></h3>
                            <form class="ui form" method="POST">
                                {% csrf_token %}
                       
                                <div class="field"><label>Email</label>{{form.email}}</div>

                                <button class="ui primary labeled icon button" type="submit">
                                    <i class="unlock alternate icon"></i>
                                    Send Confirmation Link
                                </button>
                            </form>

                            <div class="ui basic buttons">
                                <div class="ui button"><a href="{% url 'login' %}">Sign In</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
</script>
{% endblock scripts %}